body {
    background-color: #101028;
    color: #dfdfdf;
    font-family: "Newsreader", serif;
    font-size: 18px;
    margin: 0;
}

img
{
    display: block;
    margin: auto;
}

p {
    text-align: justify;
    line-height: 150%;
}

/*We don't add a margin to a paragraph unless it follows another paragraph*/
p + p
{
    margin-top: 1.5em;
}

h1,h2,h3,h4,h5
{
    font-family: "Inconsolata", sans-serif;
    font-weight: bold;
    margin-top: 1.5em;
}

h1
{
    font-size: 62px;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
}

div.navbar
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #282E55;
    height: 3em;
}

div.navbar-item
{
    margin: auto 1em;
}

/* Default to inline link*/
a
{
    color: #8192FF;
    font-family: "Newsreader", serif;
    font-size: 18px;
    text-decoration: none;
}

pre 
{
    background-color: #2d2d2d;
    overflow: scroll;
    border-radius: 4px;
}

code
{
    background-color: #2d2d2d;
    font-family: "Fragment Mono", monospace;
    font-size: 16px;
    word-wrap: normal;
}

blockquote
{
    font-style: italic;
}

a.content-footer, a.list-link, a.navbar-item
{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 16px;
}

div.content-wrapper-outer
{
    display: block;
    width: 100%;
    max-width: 100vh;
    margin-top: 0.6em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #1F1D45;
    padding-top: 0px;
    padding-bottom: 1px;
}

div.content-wrapper-inner
{
    display: block;
    width: calc(100% - 2.5em);
    background-color: #282E55;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0px;
    margin-bottom: 20px;
}

div.content-main
{
    width: calc(100% - 2.5em);
    margin-left: auto;
    margin-right: auto;
}

div.content-footer
{
    display:flex;
    width: calc(100% - 2.5em - 2em);
    flex-direction: row;
    justify-content: space-between;
    background-color: #282E55;
    padding: 1em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

div.content-footer-previous-item
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

div.content-footer-next-item
{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

/******Call outs********/
div.callout-symbol
{
    margin-right: 0.7em;
}

div.callout-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.callout
{
    width: 75%;
    margin: auto;
    padding: 20px;
    font-size: 17px;
    border-radius: 4px;
}

div.callout-info, div.callout-note
{
    background-color: #366293;
}
