<header>
<div class="navbar">
    <div class="navbar-item">
        <a class="navbar-item" href="/">Home</a>
    </div>
    <div class="navbar-item">
        <a class="navbar-item" href="/about">About Me</a>
    </div>
    <div class="navbar-item">
        <a class="navbar-item" href="/resume">My Resume</a>
    </div>
    <div class="navbar-item">
        <a class="navbar-item" href="/tools">Tools</a>
    </div>
</div>
</header>

